html,
body {
  margin: 0;
  padding: 0px;
  height: 100%;
}

body {
  width: 100%;
  
  display: flex;
  justify-content: center;
  background-color: palegoldenrod;
  align-items: center;
  
}

main {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  align-items: center;
  text-align: center;
}

#gameboard {
  width: 80%;
  height: 80%;
  border-collapse: collapse;
  background-color: yellow;
}

tbody {
  width: 100%;
}
tbody tr:nth-child(even) {
  border-top: 5px solid purple;
  border-bottom: 5px solid purple;
}
tr td:nth-child(even) {
  border-left: 5px solid purple;
  border-right: 5px solid purple;
}
td {
  width: 33%;
  height: 33%;
}
#winningmsg{
  visibility: hidden;
}
/* Add your CSS here */
.xsquare{
  color:palevioletred;
  font-size: 10em;
}
.osquare{
  color: pink;
  font-size: 10em;
  
}
